h3(class="muted") Demo Node.js
hr
div(class="jumbotron")
  h1 Demo NodeJs
  p(class="lead") Built with Node.js, Express, Jade & Twitter Bootstrap !
  a(class="btn btn-success", id="btn") By Code4Fun.fr
    :coffeescript
       $('#btn').click -> 
         $('.lead').toggle()